<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecit.edu.zpxtbehind.act.mapper.ActMapper">
    <resultMap id="ActMap" type="com.ecit.edu.zpxtbehind.act.bean.Act">
        <id column="pk_act" jdbcType="INTEGER" property="pk_act"/>
        <result column="act_name" jdbcType="VARCHAR" property="act_name"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
        <result column="jobNumber" jdbcType="INTEGER" property="jobNumber"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="startTime" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="endTime" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="pk_user" jdbcType="INTEGER" property="pk_user"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="salary" jdbcType="VARCHAR" property="salary"/>
    </resultMap>
    <select id="selectAct" parameterType="com.ecit.edu.zpxtbehind.act.bean.Act" resultType="com.ecit.edu.zpxtbehind.act.bean.Act">
        select *from act_main where pk_act = #{pk_act, jdbcType=INTEGER}
    </select>
    <select id="selectActs" parameterType="java.lang.Integer" resultMap="ActMap">
       select * from act_main where pk_user = #{pk_user, jdbcType=INTEGER}
    </select>
    <select id="selectAllActs" resultMap="ActMap">
       select * from act_main where state = 2
    </select>
    <select id="selectActsByExample" parameterType="com.ecit.edu.zpxtbehind.act.bean.Act" resultMap="ActMap">
       select * from act_main where pk_user = #{pk_user, jdbcType=INTEGER} <if test="state != null">and state = #{state, jdbcType = INTEGER} </if>
       <if test="act_name != null">and act_name like #{act_name}</if>
    </select>
    <insert id="insertAct" keyProperty="pk_act" useGeneratedKeys="true" parameterType="com.ecit.edu.zpxtbehind.act.bean.Act" >
      insert into act_main (act_name, creator, job, jobNumber, company, introduction, startTime, endTime, state, pk_user, address, salary) values
        (
        #{act_name, jdbcType=VARCHAR},
        #{creator, jdbcType=VARCHAR},
        #{job, jdbcType=VARCHAR},
        #{jobNumber, jdbcType=INTEGER},
        #{company, jdbcType=VARCHAR},
        #{introduction, jdbcType=VARCHAR},
        #{startTime, jdbcType=TIMESTAMP},
        #{endTime, jdbcType=TIMESTAMP},
        #{state, jdbcType=INTEGER},
        #{pk_user, jdbcType=INTEGER},
        #{address, jdbcType=VARCHAR},
        #{salary, jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateAct" parameterType="com.ecit.edu.zpxtbehind.act.bean.Act">
        update act_main set
        act_name = #{act_name, jdbcType=VARCHAR},
        creator = #{creator, jdbcType=VARCHAR},
        job = #{job, jdbcType=VARCHAR},
        jobNumber = #{jobNumber, jdbcType=INTEGER},
        company = #{company, jdbcType=VARCHAR},
        introduction = #{introduction, jdbcType=VARCHAR},
        startTime = #{startTime, jdbcType=VARCHAR},
        endTime = #{endTime, jdbcType=VARCHAR},
        state = #{state, jdbcType=INTEGER},
        address = #{address, jdbcType=VARCHAR,},
        salary = #{salary, jdbcType=VARCHAR}
        where pk_act = #{pk_act, jdbcType=INTEGER}
    </update>
    <delete id="deleteAct" parameterType="com.ecit.edu.zpxtbehind.act.bean.Act">
       delete from act_main where pk_act  = #{pk_act, jdbcType=INTEGER}
   </delete>
</mapper>
